.dashboard {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;

  padding-top: 100px; /* Sesuaikan angka ini dengan tinggi Navbar kamu */
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

/* HEADER */
.dashboard-header-inline {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-title {
  font-size: 24px;
  font-weight: 700;
}

.dashboard-subtitle {
  font-size: 14px;
  color: #64748b;
}

/* BUTTON */
.btn-recalculate {
  background: #f1f5f9;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

/* FOOTER */
.dashboard-footer {
  text-align: center;
}

.btn-primary-dark {
  background: #1e293b;
  color: white;
  padding: 12px 24px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}
